
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://pentastreams.com/">
            Penta Streams
          </a>
        </li>
        <li>
          <a href="https://pentastreams.com/">
            About Us
          </a>
        </li>
        <li>
          <a href="https://pentastreams.com/">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Developed by
      <a href="https://pentastreams.com/" target="_blank">Penta Streams</a>.
    </div>
  </div>
</footer>
