<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label>Salutation</label>
                  <select class="form-control" name="salutation" [(ngModel)]="salutation">
                    <option [selected]="salutation === ''" value="">Select Salutation</option>
                    <option [selected]="salutation === 'male'" value="male">Mr.</option>
                    <option [selected]="salutation === 'female'" value="female">Ms. / Mrs.</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" name="firstname"
                    [(ngModel)]="firstname">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" name="lastname"
                    [(ngModel)]="lastname">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username">
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Email" name="email"
                    [(ngModel)]="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="phone">
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="email">Landline</label>
                  <input type="text" class="form-control" placeholder="Landline" name="landline" [(ngModel)]="landline">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Home Address" name="street" [(ngModel)]="street">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="city">
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" name="country" [(ngModel)]="country">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="Zip" name="zip" [(ngModel)]="zip">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                    [(ngModel)]="description" name="description"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-round btn-lg">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="../assets/img/avatar.png" alt="...">
            <h5 class="title">{{firstname}} {{lastname}}</h5>
            <p class="description">
              {{username}}
            </p>
          </div>
          <p class="description text-center">
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>