<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">

      <div *ngIf="!this.selectedImage">
        <dropzone class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row"
          fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag images here to upload'"
          (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
      </div>

      <div *ngIf="this.selectedImage">

        <div class="d-flex justify-content-center">
          <button class="btn btn-success" (click)="scan()">Scan</button>
          <button class="btn btn-dark" (click)="rotateLeft()">Rotate left</button>
          <button class="btn btn-dark" (click)="rotateRight()">Rotate right</button>
          <button class="btn btn-dark" (click)="flipHorizontal()">Flip horizontal</button>
          <button class="btn btn-dark" (click)="flipVertical()">Flip vertical</button>
          <button class="btn btn-dark" (click)="zoomOut()">Zoom -</button>
          <button class="btn btn-dark" (click)="zoomIn()">Zoom +</button>
          <button class="btn btn-danger" (click)="resetImage()">Reset image</button>
          <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>

        <image-cropper [imageFile]="selectedImage" [maintainAspectRatio]="false" [transform]="transform"
          [canvasRotation]="canvasRotation" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)">
        </image-cropper>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <p>OR</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-lg btn-danger" (click)="this.show='manual';open(content)">Search Manually</button>
      <button class="btn btn-lg btn-danger" (click)="this.show='result';open(content)">Show Result Popup</button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div *ngIf="show === 'loading'">
    <div class="modal-body loader-view d-flex justify-content-center">
      <div class="loader"></div>
    </div>
  </div>
  <div *ngIf="show === 'manual'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal">Search Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Search Using</label>
          <select class="form-control" name="method" [(ngModel)]="method" required>
            <option value="model" [selected]="show === 'manual'">Product Model</option>
            <option value="name">Product Name</option>
          </select>
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" value="{{product}}" placeholder="i.e. LED TV">
        </div>
        <div class="form-group">
          <label>Product Model</label>
          <input type="text" class="form-control" value="{{model}}" placeholder="i.e. XBR-49X855B">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Search')">Search</button>
    </div>
  </div>

  <div *ngIf="show === 'result'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal">Result</h4>
      <button class="modal-title btn btn-danger" (click)="report()">Report</button>
    </div>
    <div class="modal-body">
      <div class="border" *ngFor="let response of mynewresponse; let index=index;">
        <div class="row">
          <div class="col">
            <div *ngIf="response.valid === 'valid'">
              <div class="row d-flex justify-content-center">
                <i class="fas fa-check-circle fa-4x" style="color:green"></i> <br />
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <p style="color:green">Valid</p>
              </div>
            </div>
            <div *ngIf="response.valid === 'invalid'">
              <div class="row d-flex justify-content-center">
                <i class="fas fa-times-circle fa-4x" style="color:red"></i> <br />
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <p style="color:red">Invalid</p>
              </div>
            </div>
            <div *ngIf="response.valid === 'dangerous'">
              <div class="row d-flex justify-content-center">
                <i class="fas fa-exclamation-circle fa-4x" style="color:red"></i> <br />
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <p style="color:red">Dangerous</p>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-2">
              <p class="details"><span style="font-weight: bold;">Brand</span>: {{response.brand}}</p>
            </div>
            <div class="row d-flex justify-content-center">
              <p class="details"><span style="font-weight: bold;">Category:</span> {{response.category}}</p>
            </div>
            <div class="row d-flex justify-content-center">
              <p class="details"><span style="font-weight: bold;">Product:</span> {{response.product}}</p>
            </div>
            <div class="row d-flex justify-content-center">
              <p class="details"><span style="font-weight: bold;">Model:</span> {{response.model}}</p>
            </div>
          </div>
          <div class="col" style="text-align: center;">
            <img *ngIf="response.Image_Path" src={{response.Image_Path}} class="img-thumbnail">
            <img *ngIf="!response.Image_Path" src='../../assets/img/default.png' class="img-thumbnail">
          </div>
        </div>
        <div class="row m-2">
          <p>{{response.description}}</p>
        </div>
      </div>
    </div>
  </div>

</ng-template>