:root {
  --cropper-outline-color: red;
}

.dropzone-container {
  min-height: 30rem !important;
  max-height: 40rem !important;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.dz-message {
  background: white !important;
}

image-cropper {
  max-height: 60vh;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.details {
  margin-bottom: 0;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-view {
  min-height: 530px !important;
  text-align: center;
}

.img-thumbnail {
  border: none !important;
  max-height: 180px;
}

.border {
  border: 4px solid #dee2e6 !important;
  margin: 10px 0px;
  padding: 20px;
}

.modal-title{
  margin-top: 10px;
}
